{% load static %}
{% block content %}
    <head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<!--forntaawsome-->
      <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
      <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
      <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <!-- fontaawsome end-->
</head>


    <div class="col-fluid order-2 align-items-center d-flex flex-column mt-0 pt-0" style="margin-bottom: 1px !important; " >
            <div class="col-fluid order-2 align-items-center d-flex flex-column mt-0 pt-0" style="  width:100%; margin-top: -30px !important;    " >
            {% if post.strava %}
                <div id='map'  class= "  " style=' width: 100%; height:200px; padding: 0 !important; margin: 0 !important;'></div>
                    <script>
                    mapboxgl.accessToken = "{{ mapbox_access_token }}";
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/light-v10',
                        center: [{{ post.lng }},{{ post.lat }}],
                        zoom: 10
                    });

                    map.on('load', function () {
                                map.addSource('route', {
                                'type': 'geojson',
                                'data': {
                                'type': 'Feature',
                                'properties': {},
                                'geometry': {
                                'type': 'LineString',
                                'coordinates': {{ poly }}
                                }
                                }
                                });
                                map.addLayer({
                                'id': 'route',
                                'type': 'line',
                                'source': 'route',
                                'layout': {
                                'line-join': 'round',
                                'line-cap': 'round'
                                },
                                'paint': {
                                'line-color': '#FF0000',
                                'line-width': 4
                                }
                                });
                                });
                    {% if post.lat and post.lng %}
                    var marker = new mapboxgl.Marker({color:"red"})
                        .setLngLat([{{ post.lng }},{{ post.lat }}])
                        .addTo(map);
                        {% endif %}
                    map.addControl(new mapboxgl.FullscreenControl());

                    </script>
                {% endif %}


    <div class="collapse" id="collapseMap" style="width: 100%">
          <div class="card bg-dark card-body align-items-center d-flex border-0" style="width: 100%">


              {% if post.lat and post.lng %}
              <p> Lat: {{ post.lat|floatformat:3 }} lng: {{ post.lng|floatformat:3 }}</p>


              {% endif %}


          </div>
        </div>

        <p>

      <a style = " margin: 0 !important;" class="btn btn-transparent  " type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
         <i onclick="myFunction(this)"  class="fas fa-angle-down fa-2x" style="color:red" ></i>
      </a>
        </p>
            </div>



        <br/>
        <br/>



        </div>


{% endblock %}