{% load static %}
{% block content %}

    <div class="col-fluid order-2 align-items-center d-flex flex-column mt-0 " style=" " >
    <a href="{% url "show_profile_page" post.author.profile.id %}">
    {% if post.author.profile.profile_pic%}

        <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{{ post.author.profile.profile_pic.url }}" style = "width: 10rem; height: 10rem">
    {% else %}
        <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{% static "images/profil.png" %}" style = "width: 10rem; height: 10rem">
    {% endif %}
    </a>

    <a href="{% url "show_profile_page" post.author.profile.id %}" style="color: white; font-size: 30px">
        {{ post.author.first_name }} {{ post.author.last_name }}
    </a>






        <div class="collapse" id="collapseExample" style="width: 100%; ">
          <div class="card bg-dark card-body align-items-center d-flex border-0 " style="width: 100%; ">
              {{ post.author.profile.bio }}

              {% if post.author.profile.instagram_url %}
              <a class = "text-light" href="{{ post.author.profile.instagram_url }}">
              <br/>
                <i class="fab fa-instagram fa-3x"></i>
                  </a>
              {% endif %}



          </div>
        </div>

        <p>

      <a style = " margin: 0 !important; " class="btn btn-transparent  " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         <i onclick="myFunction(this)"  class="fas fa-angle-down fa-2x" style="color:red" ></i>
      </a>
        </p>
    </div>
{% endblock %}