{% extends "base.html" %}
{% load static %}
{% block title %}{{ "Edit profile"}}
{% endblock %}
{% block content %}

    <style>

    </style>



{% if user.is_authenticated and user.id == profile.user.id%}
    <div class = "container" >
    <h1 class= " text-center" >Edit profile</h1>
    <div class="form-group">
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}
            <button  class="btn btn-dark">Update</button>


        </form>
    </div>
    </div>


    {% else %}
        <div class = "container" >
        <h1 class = "text-center">Please login</h1>
        </div>


    {% endif %}



</div>

{% endblock %}