{% extends "base.html" %}
{% load static %}
{% block title %}{{ "Create new blog post"}}
{% endblock %}
{% block content %}

    <style>

    </style>



{% if user.is_authenticated %}
    <div class = "container-fluid w-100" >
    <h1 class= " text-center" >Add post</h1>
    <div class="form-group w-100 justify-content-center" >
        <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button  class="btn btn-dark">Post</button>


        </form>
    </div>
    </div>

    <script>
        var name= "{{ user.id }}";
        document.getElementById("user").value=name;

    </script>
    {% else %}
        <div class = "container" >
        <h1 class = "text-center">Please login</h1>
        </div>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>


    {% endif %}



</div>

{% endblock %}