{% extends "base.html" %}
{% load static %}


{% block title %}{{ post.title_tag}}
{% endblock %}

{% block content %}

    <head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
</head>


<div class="container-fluid w-100 "  style="background: rgba(36, 36, 36, 0.6);   min-height: 100vh; margin-right: auto !important; margin-left:auto!important;  padding-left: 0 !important;padding-right: 0 !important" >

{% if post.header_image %}
<!--carousel begin-->
<div id="carouselExampleIndicators" class="w-100 carousel slide" data-ride="false"  data-pause="hover">

  <div class="carousel-inner">

    <div class="carousel-item active">


      <img class="d-block w-100" src={{ post.header_image.url }} alt="First-slide" style = "object-fit: cover !important; min-width: 150vmin !important; height: 40vmax !important; " >
        <div class="carousel-caption  d-md-block">
             <h5 style="font-size:6vw;">{{ post.title  }}</h5>
                <!-- <p style="font-size:2vw;">By: {{ post.author.first_name }} {{ post.author.last_name }}</p> -->
        </div>
    </div>


  </div>

</div>
<!--carousel end-->
     {% else %}
            <div class="container  d-md-block text-center">
                     <h5 style="font-size:6vw;">{{ post.title  }}</h5>
                       <!-- <p style="font-size:2vw;">By: {{ post.author.first_name }} {{ post.author.last_name }}</p> -->
                </div>

{% endif %}
<div class = "container d-flex row align-items-center" style ="margin-top: 5px;">
    <div style="margin-left: 10px">

            <strong>
                Published: {{ post.post_date  }}
                {% if user.is_authenticated and post.author.id == request.user.id %}
            <a href="{% url "update_post" post.pk %}" class="btn-sm btn-secondary">Edit</a>
                <a href="{% url "delete_post" post.pk %}" class="btn-sm btn-secondary">Delete</a>
                {% endif %}

            </strong>
    </div>
    <div class="align-self-center" style="margin-left: 10px">
    {% if user.is_authenticated %}
        <form action="{% url 'like_post' post.pk %}" method="POST">
            {% csrf_token %}
            {% if liked %}

                <button class="btn btn-link " type="submit",name="post_id" value="{{ post.id }}">
                <i class="far fa-thumbs-down fa-1x" style="color:white; "></i>
                </button>
                {% else %}
                <button class="btn btn-link " type="submit",name="post_id" value="{{ post.id }}">
                <i class="far fa-thumbs-up fa-1x" style="color:white; "></i>
                </button>

                {% endif %}
        </form>
    {% else %}
        <a class="btn btn-link " type="link"  href="{% url "login" %}">
                <i class="far fa-thumbs-up fa-1x" style="color:white; "></i>
                </a>

    {% endif %}


    </div>
    <div class="align-self-center" style="margin-left: 1px">
        {{ total_likes }}



    </div>
</div>
<hr style=" background-color:white;">
<br/>

<div class="container-fluid" >
  <div class="row p-md-4 m-md-4 " >
      <div class="col-12 col-md-4 order-2 order-md-3 justify-content-center" >
          <div >
                {% include "tripcard.html" %}
          </div>
    </div>
    <div class="col-12 col-md-6 order-1 order-md-1"  >

        <strong><h4 style ="font-size: max(2vw, 2vh); font-weight: bold">{{ post.snippet|safe}} </h4></strong>
        <br/>




    </div>
      <div class = "col-12 col-md-8  order-3 order-md-2" >
          <br/>
          <h5>{{ post.body|safe }}</h5>
          <a href="{% url "blog" %}" class="btn btn-secondary">Back</a>
      </div>


  </div>
</div>





</br>

</div>

{% endblock %}