<!DOCTYPE html>
<style>
    footer {
            text-align: center;

        padding: 3px;
              background-color: #222222;
              color: white;

}
</style>

<footer>
  <div class = "container align-items-center d-flex" >
      <div class ="container">
    <a class = "text-light" href=https://www.instagram.com/alfasko/?hl=en><i class="fab fa-instagram fa-3x"></i></a>
          </div>

      <div class ="container">
    <a class = " text-light" href=#><i class="far fa-copyright"> Sondre Olimb</i></a>
          </div>
      </div>
</footer>