{% extends "base.html" %}
{% load static %}

{% block content %}






<div class ="view d-flex justify-content-center"  >


    <div class =" container-xl d-flex flex-column justify-content-center align-items-center text-center"style="max-width: 70vw">
        <br/>
        <br/>
        <span style="font-size: 10rem;">
        <i class="fas fa-map-marked"></i>
            </span>
        <!--<img class="img-fluid" src="{% static "images/Alfa-logo.png" %}" > <br/>-->
        <h1 style ="font-size: 10vmin;" >Discover your next adventure</h1>
<br/>
    <br/>
    <br/>
        <br/>
    <br/>

    </div>





</div>



    <div class="container-fluid   justify-content-center d-none d-lg-block">

    <div class="row justify-content-center text-center m-0 p-0  "  >
    {% for profile in all_profiles|slice:":3" %}

        {% if profile.profile_pic %}
            <a class = "text-ligth" style ='text-decoration: none; color: white ' href="{% url "show_profile_page" profile.id %}">

            <div class=" col-12 align-items-center justify-content-center d-flex flex-column text-center " >
                {% if profile.profile_pic%}
                    <img class="img-fluid rounded-circle "  alt="100x100" src="{{ profile.profile_pic.url }}" style = "width: 10rem; height: 10rem">
                {% else %}
                    <img class="img-fluid rounded-circle "  alt="100x100" src="{% static "images/profil.png" %}" style = "width: 10rem; height: 10rem">
                {% endif %}
                    <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                </div>


            </a>

        {% endif %}
    {% endfor %}
    </div>

    </div>

<div class ="d-block d-lg-none">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner text-center">
              {% for profile in all_profiles %}

                  {% if forloop.first %}<!--ifforloop-->
                        <div class="carousel-item active" >
                        <a class = "text-ligth" style ='text-decoration: none; color: white ' href="{% url "show_profile_page" profile.id %}">
                        <div class ="">
                            <div>
                              {% if profile.profile_pic%}<!--if-profili-pic-->

                                <img class=" d-block rounded-circle m-a"  alt="100x100" src="{{ profile.profile_pic.url }}" style = "width: 10rem; height: 10rem; margin: auto">
                              {% else %} <!--if-profili-pic-->
                                <img class="d-block rounded-circle "  alt="100x100" src="{% static "images/profil.png" %}" style = "width: 10rem; height: 10rem; margin: auto">
                                {% endif %}<!--if-profili-pic-->
                            </div>
                            <div>
                                <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                            </div>
                        </div>
                        </a>
                        </div>
                   {% else %}<!--ifforloop-->
                        <div class="carousel-item">
                          <a class = "text-ligth" style ='text-decoration: none; color: white ' href="{% url "show_profile_page" profile.id %}">
                        <div class ="">
                            <div>
                              {% if profile.profile_pic%}<!--if-profili-pic-->

                                <img class=" d-block rounded-circle m-a"  alt="100x100" src="{{ profile.profile_pic.url }}" style = "width: 10rem; height: 10rem; margin: auto">
                              {% else %} <!--if-profili-pic-->
                                <img class="d-block rounded-circle "  alt="100x100" src="{% static "images/profil.png" %}" style = "width: 10rem; height: 10rem; margin: auto">
                                {% endif %}<!--if-profili-pic-->
                            </div>
                            <div>
                                <h1>{{ profile.user.first_name }} {{ profile.user.last_name }}</h1>
                            </div>
                        </div>
                        </a>
                        </div>


                  {% endif %}

              {% endfor %}

          </div>

</div>

</div>



{% endblock %}