<!DOCTYPE html>
{% load static %}
{% block content %}
<head>
    <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<!--forntaawsome-->
      <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
      <link href="/your-path-to-fontawesome/css/brands.css" rel="stylesheet">
      <link href="/your-path-to-fontawesome/css/solid.css" rel="stylesheet">
    <!-- fontaawsome end-->
</head>

    <script>
    function myFunction(x) {
  x.classList.toggle("fa-angle-up");
}
    </script>








<div class ="column shadow  rounded bg-dark mt-0 pt-0"  >
<br/>

    <div class="col-fluid order-2 align-items-center d-flex flex-column mt-0 " style=" " >
    <a href="{% url "show_profile_page" post.author.profile.id %}">
    {% if post.author.profile.profile_pic%}

        <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{{ post.author.profile.profile_pic.url }}" style = "width: 10rem; height: 10rem">
    {% else %}
        <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{% static "images/profil.png" %}" style = "width: 10rem; height: 10rem">
    {% endif %}
    </a>

    <a href="{% url "show_profile_page" post.author.profile.id %}" style="color: white; font-size: 30px">
        {{ post.author.first_name }} {{ post.author.last_name }}
    </a>






        <div class="collapse" id="collapseExample" style="width: 100%; ">
          <div class="card bg-dark card-body align-items-center d-flex border-0 " style="width: 100%; ">
              {{ post.author.profile.bio }}

              {% if post.author.profile.instagram_url %}
              <a class = "text-light" href="{{ post.author.profile.instagram_url }}">
              <br/>
                <i class="fab fa-instagram fa-3x"></i>
                  </a>
              {% endif %}



          </div>
        </div>

        <p>

      <a style = " margin: 0 !important; " class="btn btn-transparent  " type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
         <i onclick="myFunction(this)"  class="fas fa-angle-down fa-2x" style="color:red" ></i>
      </a>
        </p>
    </div>


<!--Shoe element ---------------------------------------------->

        <div class="col-fluid order-2 align-items-center d-flex flex-column mt-0">
            {% for i in shoes %}
                {% if i.shoe_name == post.shoes %}




                <a class ="text-light" style ="text-decoration: none" href="{{ i.link_shoe }}">
                <div class="justify-content-center text-center">
                {% if i.link_picture%}

                    <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{{ i.link_picture }}" style = "width: 10rem; height: 10rem">
                {% else %}
                    <img class="img-fluid rounded-circle mt-0 pt-0"  alt="100x100" src="{% static "images/profil.png" %}" style = "width: 10rem; height: 10rem">
                {% endif %}
                </div>
                <div>
                <h3>{{ i.shoe_name }}</h3>

                    </div>
                </a>
                {% endif %}
        {% endfor %}

        </div>




    <div class="col-fluid order-2 align-items-center d-flex flex-column mt-0 pt-0" style="margin-bottom: -30px !important; " >
            <div class="col-fluid order-2 align-items-center d-flex flex-column mt-0 pt-0" style="  width:100%; margin-top: -30px !important;    " >
            {% if post.strava != 0 %}
                <div id='map'  class= "  " style=' width: 100%; height:200px; padding: 0 !important; margin: 0 !important;'></div>
                    <script>
                    mapboxgl.accessToken = "{{ mapbox_access_token }}";
                    var map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/light-v10',
                        center: [{{ post.lng }},{{ post.lat }}],
                        zoom: 10
                    });

                    map.on('load', function () {
                                map.addSource('route', {
                                'type': 'geojson',
                                'data': {
                                'type': 'Feature',
                                'properties': {},
                                'geometry': {
                                'type': 'LineString',
                                'coordinates': {{ poly }}
                                }
                                }
                                });
                                map.addLayer({
                                'id': 'route',
                                'type': 'line',
                                'source': 'route',
                                'layout': {
                                'line-join': 'round',
                                'line-cap': 'round'
                                },
                                'paint': {
                                'line-color': '#FF0000',
                                'line-width': 4
                                }
                                });
                                });
                    {% if Post.lat != 0 and lng != 0 %}
                    var marker = new mapboxgl.Marker({color:"red"})
                        .setLngLat([{{ post.lng }},{{ post.lat }}])
                        .addTo(map);
                        {% endif %}
                    map.addControl(new mapboxgl.FullscreenControl());

                    </script>
                {% endif %}


    <div class="collapse" id="collapseMap" style="width: 100%">
          <div class="card bg-dark card-body align-items-center d-flex border-0" style="width: 100%">


              {% if post.lat and post.lng %}
              <p> Lat: {{ post.lat|floatformat:3 }} lng: {{ post.lng|floatformat:3 }}</p>


              {% endif %}


          </div>
        </div>

        <p>

      <a style = " margin: 0 !important;" class="btn btn-transparent  " type="button" data-toggle="collapse" data-target="#collapseMap" aria-expanded="false" aria-controls="collapseMap">
         <i onclick="myFunction(this)"  class="fas fa-angle-down fa-2x" style="color:red" ></i>
      </a>
        </p>
            </div>



        <br/>
        <br/>



        </div>
        <br/>


</div>

{% endblock %}