{% extends "base.html" %}
{% load static %}
{% block title %}{{ "Edit blog post"}}
{% endblock %}
{% block content %}



{% if user.is_authenticated and post.author.id == request.user.id%}
    <div class = "container" >
    <h1 class= " text-center" >Update post</h1>
    <div class="form-group">
        <form   method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.media }}

            {{ form.as_p }}
            <button  class="btn btn-dark">Update</button>


        </form>
    </div>
    </div>
    {% else %}
    <div class = "container" >
    <h1 class = "text-center">Please login</h1>
    </div>





    {% endif %}

{% endblock %}